In [1]:
import midus_var_search as mvs

In [5]:
mvs.topicsum

   Source                                     Topic
0   Phone                                     Admin
1   Phone                                    Health
2   Phone  Education, Occupation and Marital Status
3   Phone             Household Roster and Children
4   Phone                       Living arrangements
5   Phone                      Childhood background
6   Phone                         Life Satisfaction
7     SAQ                               Your Health
8     SAQ                Health Questions for Women
9     SAQ                          Health Insurance
10    SAQ                           Parents' Health
11    SAQ               Childhood Family Background
12    SAQ                          Personal Beliefs
13    SAQ                     Images of Life Change
14    SAQ              Psychological Turning Points
15    SAQ                                      Work
16    SAQ                                  Finances
17    SAQ                     Community Involvement
18    SAQ                         Your Neighborhood
19    SAQ                           Social Networks
20    SAQ                                  Children
21    SAQ            Marriage or Close Relationship
22    SAQ                                 Sexuality
23    SAQ                 Religion and Spirituality
24    SAQ                              Demographics
25    SAQ                            Discrimination
26    SAQ                              Life Overall

In [6]:
mvs.varbytopic('Sexuality')

,Variable,Topic,Description,Question
0,A1SQ1,Sexuality,Sexual aspects now,"Using a scale from 0 to 10 where 0 means ""the ..."
1,A1SQ2,Sexuality,Sexual aspects 10 yrs ago,"Looking back ten years ago, how would you rate..."
2,A1SQ3,Sexuality,Sexual aspects 10 yrs ahead,"Looking ahead ten years into the future, what ..."
3,A1SQ4,Sexuality,Control over sexual aspects,"Using a 0 to 10 scale where 0 means ""no contro..."
4,A1SQ5,Sexuality,Thought/effort into sexual aspects,"Using a 0 to 10 scale where 0 means ""no though..."
5,A1SQ6,Sexuality,# sex partners past yr,"Over the past year, how many sex partners have..."
6,A1SQ7,Sexuality,Sexual orientation,How would you describe your sexual orientation...
7,A1SQ8,Sexuality,How often sex past 6 mo,"Over the past six months, on average, how ofte..."

In [3]:
mvs.varsearch('alcohol')

,Variable,Topic,Description,Question
0,A1PA52,Health,Age of 1st alcoholic drink (A52a),How old were you when you had your first drink...
1,A1PC3A2,Childhood background,Alcohol or drug abuse - Male HH,What was the main reason he ws not working for...
2,A1PC9A2,Childhood background,Alcohol or drug abuse - Fem HH,What was the main reason she was not working f...
3,A1SA9U,Your Health,Alcohol or drug problems,"In the past twelve months, have you experience..."
4,A1SA44A,Your Health,Alcohol increase chance to get hurt,"During the past 12 months, did you have any of..."
5,A1SA44B,Your Health,Alcohol emotional problems,"During the past 12 months, did you have any of..."
6,A1SA44C,Your Health,Alcohol strong desire to use,"During the past 12 months, did you have any of..."
7,A1SA44D,Your Health,Alcohol lots of time using,"During the past 12 months, did you have any of..."
8,A1SA44E,Your Health,Alcohol had to use more,"During the past 12 months, did you have any of..."
9,A1SA45,Your Health,Alcohol use larger amounts,"During the past 12 months, how many times did ..."
10,A1SA46,Your Health,Alcohol effects at work / school,"In the past 12 months, how many times have you..."

In [9]:
import pandas as pd

In [10]:
heartdf = pd.read_stata('/Users/alex/Documents/alexdatasci/data_files/MIDUS_1/stata/ICPSR_02760/DS0001/02760-0001-Data.dta')

In [12]:
heartdf = pd.read_stata('/Users/alex/Documents/alexdatasci/data_files/MIDUS_1/stata/ICPSR_02760/DS0001/02760-0001-Data.dta',
                       columns=hv)

In [14]:
heartdf.head()

,A1PA11,A1PA11A,A1PA11BA,A1PA11BE,A1PA11BG,A1PA11BH,A1PA11BI,A1PA11BJ,A1PA11BK,A1PA11C,...,A1PA29CA,A1PA29CE,A1PA29CG,A1PA29CH,A1PA29CI,A1PA87A,A1PA90A,A1SA7B,A1SA10D,A1SF4R
0,NO,INAPP,INAPP,INAPP,INAPP,INAPP,INAPP,INAPP,INAPP,INAPP,...,INAPP,INAPP,INAPP,INAPP,INAPP,NO,INAPP,AGREE STRONGLY,NO,SOME
1,NO,INAPP,INAPP,INAPP,INAPP,INAPP,INAPP,INAPP,INAPP,INAPP,...,INAPP,INAPP,INAPP,INAPP,INAPP,NO,INAPP,NaN,NaN,NaN
2,NO,INAPP,INAPP,INAPP,INAPP,INAPP,INAPP,INAPP,INAPP,INAPP,...,INAPP,INAPP,INAPP,INAPP,INAPP,NO,INAPP,AGREE STRONGLY,NO,A LITTLE
3,NO,INAPP,INAPP,INAPP,INAPP,INAPP,INAPP,INAPP,INAPP,INAPP,...,INAPP,INAPP,INAPP,INAPP,INAPP,NO,INAPP,AGREE STRONGLY,NO,A LOT
4,NO,INAPP,INAPP,INAPP,INAPP,INAPP,INAPP,INAPP,INAPP,INAPP,...,INAPP,INAPP,INAPP,INAPP,INAPP,INAPP,YES,AGREE SOMEWHAT,NO,A LOT

In [15]:
hv

0       A1PA11
1      A1PA11A
2     A1PA11BA
3     A1PA11BE
4     A1PA11BG
5     A1PA11BH
6     A1PA11BI
7     A1PA11BJ
8     A1PA11BK
9      A1PA11C
10     A1PA11D
11      A1PA12
12     A1PA12A
13      A1PA13
14     A1PA13A
15     A1PA13B
16    A1PHRTRS
17    A1PHRTDX
18      A1PA14
19      A1PA15
20      A1PA16
21      A1PA17
22      A1PA18
23      A1PA20
24      A1PA22
25     A1PA22A
26    A1PA29CA
27    A1PA29CE
28    A1PA29CG
29    A1PA29CH
30    A1PA29CI
31     A1PA87A
32     A1PA90A
33      A1SA7B
34     A1SA10D
35      A1SF4R
Name: Variable, dtype: object